.login__link {
  font-size: 1rem;
  text-align: center;
}

.login__link-register {
  color: #f4a261;
  text-decoration: none;
  font-weight: bold;
}

.login__link-register:hover {
  color: #e76f51;
}

.login__link-register:focus {
  color: #e76f51;
}