.legal {
  max-width: 90%;
  margin: 0 auto;
}

.legal__title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.legal__subtitle {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.legal__subtitle--highlight {
  color: #f4a261;
}

.legal__info-title {
  text-transform: uppercase;
}

.legal__info-subtitle {
  text-decoration: underline;
}

.highlight {
  color: #f4a261;
  font-weight: bold;
}
