.button_submit {
  background-color: #f4a261;
  color: #fff;
  border: none;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_submit:hover {
  background-color: #e48a3f;
}

.button_submit:focus {
  background-color: #e48a3f;
}

.button_submit:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}
