* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8f9fa;
}

/* Global para controlar el footer */
.global {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
/* End Global para controlar el footer */

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #222;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/* End Header */

/* Logo */
.header__logo {
  font-size: 1.5em;
  font-weight: bold;
}

.header__logo--highlight {
  color: #f4a261;
}
/* End Logo */

/* Nav */
.header__nav {
  display: flex;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header__nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.header__nav-link.active {
  color: #f4a261;
}

.header__nav-link:hover {
  color: #f4a261;
}

.header__nav-link:focus {
  color: #f5994d;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.header__login-btn {
  background: none;
  border: 1px solid white;
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.header__login-btn:hover {
  background-color: #f4a261;
  color: #222;
  border-color: #f4a261;
}
/* End Nav */

/* Cart */
.header__cart-btn {
  position: relative;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}

.cart__count {
  position: absolute;
  top: 0.3rem;
  right: -1rem;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cart__count.hidden {
  display: none; /* Oculta el contador cuando no hay productos en el carrito */
}
/* End Cart */

/* Toogler */
.header__toggler {
  display: none;
  font-size: 1rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
}

.header__toggler-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  transition: opacity 0.3s ease;
}

.header__toggler-icon--close {
  opacity: 0; /* Icono de "close" oculto por defecto */
}

.header__toggler--active .header__toggler-icon--menu {
  opacity: 0; /* Mostrar "close" cuando el menú está abierto, icono "menu" no aparece */
}

.header__toggler--active .header__toggler-icon--close {
  opacity: 1; /* Mostrar "menu" cuando el menú está cerrado, icono "close" no aparece */
}
/* End Toogler */

/* Footer */
.footer {
  background: #222;
  color: white;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
}

.footer__links {
  margin: 0.5rem;
}

.footer__link {
  color: white;
  text-decoration: none;
  margin: 0 0.6rem;
}

.footer__link:hover {
  color: #f4a261;
}

.footer__link:focus {
  color: #f5994d;
}

.footer__info {
  margin: 0;
}
/* End Footer */

/* Responsive */
@media (max-width: 768px) {
  /* Nav */
  .header__nav {
    display: none;
    position: absolute;
    top: 3.75rem;
    right: 0;
    background: #222;
    width: 100%;
    text-align: center;
    padding: 0.6rem 0;
  }

  .header__nav-list {
    flex-direction: column;
    gap: 0.6rem;
  }

  .header__nav--active {
    display: block;
  }
  /* End Nav */

  /* Toggler */
  .header__toggler {
    display: block;
  }
  /* End Toggler */
}
/* End Responsive */
